html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.video-player {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.video {
    width: 100%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0px, 0px);
    transition: 0.3s;
    flex-wrap: wrap;
    /*background: rgba(0, 0, 0, 0.6);  */
}

.video-player:hover .play-button {
    visibility: visible;
}
.video-player:hover .player-controls {
    transform: translateY(0);
}

.video-player:fullscreen{
    top: 0;
    left: 0;
    position: fixed;
}
.video-player:-ms-fullscreen{
    top: 0;
    left: 0;
    position: fixed;
}
.video-player:-moz-full-screen{
    top: 0;
    left: 0;
    position: fixed;
}
.video-player:-webkit-full-screen{
    top: 0;
    left: 0;
    position: fixed;
}

.play-button {
    width: 64px;
    border: none;
    background: #009ee0;
    color: white;
    padding: 8px;
    height: 32px;
    border-radius: 32px;
    /*visibility: hidden;*/
}

.play-button:focus {
    outline: none;
}

.time {
    font-size: 1em;
    color: white;
    width: 15%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    margin: 0;
    width: 75%;
    padding: 0 10px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: black;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: orangered;
    cursor: pointer;
}


.video-player:hover .video-progress {
    height: 20px;

}

.video-player .fullscreen svg{
    pointer-events: none;
}
.video-player .fullscreen svg path{
    fill: #6c757d;
}
.video-player .fullscreen{
    position: absolute;
    right: 5px;
    bottom: 2px;
    cursor: pointer;
}
