.mobile_logo_img {
    display: none;
}

/* .header .menu ul a span:before {
    display: none;
} */

.header .menu ul > li:nth-child(1) a:hover > span::before {
    color: darkcyan;
}

.header .menu ul > li:nth-child(even) a:hover > span::before {
    color: lightseagreen;
}

.header .menu ul > li:nth-child(odd) a:hover > span::before {
    color: firebrick;
}

.header .menu ul > li:nth-child(4) a:hover > span::before {
    color: firebrick;
}

.header .menu ul > li:nth-child(5) a:hover > span::before {
    color: lightseagreen;
}

.header .menu ul > li:nth-child(6) a:hover > span::before {
    color: #9f9904;
}

.header .menu ul > li:nth-child(7) a:hover > span::before {
    color: #2E2D88;
}

.header .menu ul > li:nth-child(8) a:hover > span::before {
    color: #9932CC;
}

.header .menu ul > li:nth-child(9) a:hover > span::before {
    color: #56887D;
}

.header .menu ul li.active a {
    border-bottom: 1px dashed #b8c7d6;
}

.banner {
    position: relative;
    /*height: 100vh;*/
    z-index: 1;
    overflow: hidden;
}

/* .banner::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
} */

.banner > video {
    width: 100%;
}


.page_section video,
.page_section iframe {
    width: 100%;
}

.header .menu ul li:not(:last-child) {
    margin-right: 2em;
}


:root {
    --accent: #00C6F2;
    /* 	--accent: #d7577e; */

    --main: #ffffff;
}

body {
    width: 100%;
    height: 100%;
    /* background: #ff578e; */
}

.starting_area_section div > a {
    display: block;
    width: 100%;
    height: 600px;
}

.starting_area_section div > a > svg {
    width: 100%;
    height: 100%;
}

.starting_area_section div > a > svg:hover *[fill="#DCF0FA"],
.starting_area_section div > a > svg:hover *[fill="#e8eff7"]

{
    transition: fill 0.3s;
}
.starting_area_section div > a > svg:hover *[fill="#DCF0FA"],
.starting_area_section div > a > svg:hover *[fill="#e8eff7"]
{
    fill: rgb(16 168 245);
}

.starting_area_section div > a > svg:hover *[fill="#00adee"]
{
    fill: #e8eff7;
}
.starting_area_section div > a > svg:hover *[fill="#fff"]
{
    fill:  rgb(16 168 245);
}

.header .menu ul a {
    color: #000;
    font-family: "Exo 2", sans-serif;
}


.footer .footer-socials {
    display: inline-flex;
    justify-content: space-between;
}

.footer .footer-socials a {
    width: 32px;
    display: inline-block;
}

.footer .footer-socials a svg {
    width: 100%;
}

.menu > div {
    display: flex;
    flex-direction: row;
}

.language {
    padding-left: 2em;

}

@media (max-width: 768px) {
    .header .menu ul > li {
        margin-right: 0em !important;
    }

    .menu > div {
        flex-direction: column;
    }

    .language {
        padding-left: 0;
        justify-content: center;
    }

    .logo_img {
        display: none;
    }

    .header .logo .mobile_logo_img {
        display: inline-block;
        width: 8em;
    }

    .banner {
        height: auto;
    }

    .starting_area_section div > a {
        height: auto;
        padding: 1rem 0;
    }
}

@media (max-width: 1140px) and (min-width: 769px) {

    .banner {
        height: auto;
    }


}

.ytp-chrome-top {
    display: none !important;
}

.ytp-contextmenu {
    display: none;
}
