@media (min-width: 421px) {
    #modal_form {
        width: 523px;
        height: 720px;
        border-radius: 5px;
        background: #fff;
        position: fixed;
        top: 30%;
        left: 43%;
        margin-top: -150px;
        margin-left: -150px;
        display: none;
        opacity: 0;
        z-index: 5;
        padding: 20px 10px;
    }

    .form-int {
        position: absolute;
        bottom: 0;
        margin: 20px 20px 4px 32px;
    }


    .form-int input {
        width: 94%;
        padding: 5px 9px;
        margin-bottom: 28.5px;
		font-size: 1.2em;
    }

    #gor, #shool {
        width: 94%;
        margin-bottom: 27px;
        padding: 10px;
    }

    #svg410 {
        height: 83px;
        width: 431px;
    }

    .cont {
        position: relative;
    }
}

@media (max-width: 420px) {
    #modal_form {
        width: 320px;
        height: 442px;
        border-radius: 5px;
        background: #fff;
        position: fixed;
        top: 35% !important;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
        display: none;
        opacity: 0;
        z-index: 5;
        padding: 20px 10px;
    }

    .form-int {
        position: absolute;
        bottom: 0;
        margin: 20px 20px 4px 20px;;
    }

    .form-int input {
        width: 96%;
        padding: 3px;
        margin-bottom: 15px;
    }

    #gor, #shool {
        width: 96%;
        margin-bottom: 15px;
        padding: 3px;
    }

    .cont {
        position: relative;
        width: 50%;
        left: 23%;
    }

}


/* ������ ������� ��� ��� ��� � �����) */
#modal_form #modal_close, #modal_form2 #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: -25px;
    left: -25px;
    cursor: pointer;
    display: block;
    background-image: url(drawing.svg);
}

/* �������� */
#overlay {
    z-index: 3; /* �������� ������ ���� ���� ����� ��������� �����, �� ���� ���� ���������� ���� */
    position: fixed; /* ������ ����������� ���� ���� */
    background-color: #000; /* ������ */
    opacity: 0.8; /* �� ������� ��������� */
    width: 100%;
    height: 100%; /* �������� �� ���� ����� */
    top: 0;
    left: 0; /* ������ � ����� 0, ������������ ��������! */
    cursor: pointer;
    display: none; /* � ������� ��������� � ���) */
}


svg [data-name="background-layer"] {
    fill: transparent !important;
    transition: .3s;
}

svg:hover [data-name="background-layer"] {
    transition: .2s;
    fill: #1aa6e0 !important;
}

svg [data-name="text-layer"] path, svg [data-name="text-layer"] {
    transition: .3s;
    fill: #1aa6e0 !important;
}

svg:hover [data-name="text-layer"],
svg:hover [data-name="text-layer"] path {
    transition: .2s;
    fill: #fff !important;
}

svg [data-name="transparent-layer"] {
    transition: .3s;
}

svg:hover [data-name="transparent-layer"] {
    opacity: 0 !important;
    transition: .2s;
}

/*data-name="background-layer"*/


/* Container needed to position the button. Adjust the width as needed */


div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgba(255, 255, 255, .3) url('../../images/icons/preloader.gif') no-repeat center center;
}