#modal_form {
	width: 320px; 
	height: 442px; /* –азмеры должны быть фиксированы */
	border-radius: 5px;
	/*border: 3px #000 solid;*/
	background: #fff;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 30%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -150px;
	margin-left: -150px; /* тут вс€ маги€ центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
	display: none; /* в обычном состо€нии окна не должно быть */
	opacity: 0; /* полностью прозрачно дл€ анимировани€ */
	z-index: 5; /* окно должно быть наиболее большем слое */
	padding: 20px 10px;
}



/*  нопка закрыть дл€ тех кто в танке) */
#modal_form #modal_close,#modal_form2 #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: -25px;
    left: -25px;
	cursor: pointer;
	display: block;
	 background-image:url(drawing.svg);
}
/* ѕодложка */
#overlay {
	z-index: 3; /* подложка должна быть выше слоев элементов сайта, но ниже сло€ модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: #000; /* черна€ */
	opacity: 0.8; /* но немного прозрачна */
	width: 100%; 
	height: 100%; /* размером во весь экран */
	top: 0; 
	left: 0; /* сверху и слева 0, об€зательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состо€нии еЄ нет) */
}




svg [data-name="background-layer"]{
    fill: transparent !important;
    transition: .3s;
}
svg:hover [data-name="background-layer"]{
    transition: .2s;
    fill: #1aa6e0 !important;
}
svg [data-name="text-layer"] path
,svg [data-name="text-layer"]{
    transition: .3s;
    fill: #1aa6e0 !important;
}
svg:hover [data-name="text-layer"],
svg:hover [data-name="text-layer"] path
{
    transition: .2s;
    fill: #fff !important;
}

svg [data-name="transparent-layer"]{
    transition: .3s;
}
svg:hover [data-name="transparent-layer"]{
    opacity: 0 !important;
    transition: .2s;
}

/*data-name="background-layer"*/
.form-int{
  position: absolute;
    bottom: 0;
    margin: 20px 20px 4px 20px;;
}
.form-int input{width: 96%;
    padding: 3px;
    margin-bottom: 15px;}

#gor,#shool{
  width: 96%;
margin-bottom: 15px;
padding: 3px;
}

   /* Container needed to position the button. Adjust the width as needed */
.cont {
  position: relative;
  width: 50%;
  left: 23%;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background:  rgba(255,255,255,.3) url('../../images/icons/preloader.gif') no-repeat center center;
}